# Core dependencies
beautifulsoup4==4.12.3
langchain==0.1.16
langchain-community==0.0.34
langchain-core==0.1.45
langchain-openai==0.1.3
langchain-text-splitters==0.0.1
streamlit==1.33.0
yfinance==0.2.38
streamlit-scrollable-textbox==0.0.3
duckduckgo_search==5.3.1b1

# AWS related
boto3==1.34.14
botocore==1.34.14

# Testing
pytest==7.4.0

# Note: For email functionality, we're using the built-in 'smtplib' and 'email' modules,
# so no additional dependencies are required for that feature.
